html {
    box-sizing: border-box;
    background-color: hsl(204, 43%, 93%);
}

button {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2.5%;
    margin-bottom: 10%;
    width: 80%;
    height: 17%;
    color: hsl(204, 43%, 93%);
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 5px;
}

button:hover{
    color: hsl(77, 79%, 74%);
    background-color: hsl(174, 65%, 43%);
    cursor: pointer;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: auto;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    font-size: 16px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h1,
h2,
p {
    margin: 0.5rem;
}

h1 {
    color: hsl(179, 62%, 43%);
    font-size: 1.6rem;
    margin-left: 1.6rem;
    margin-top: 1.6rem;
    margin-bottom: 0.75rem;
}

h2 {
    color: hsl(71, 73%, 54%);
    font-size: 1.2rem;
    margin-left: 1.6rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

h3 {
    color: hsl(204, 43%, 93%);
    font-size: 1.2rem;
    margin-left: 1.6rem;
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
}

p,
ul {
    color: hsl(218, 22%, 67%);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    margin-left: 1.6rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
}

ul {
    padding: 0;
    padding-left: 1rem;
    list-style: none;
    color: hsl(204, 43%, 93%);
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin-left: 0.6rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
}

#white-text {
    color: hsl(204, 43%, 93%);
}

#reg-priceid {
    color: hsl(218, 22%, 77%);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 2rem;
    margin-left: 0.5rem;
    margin-top: 0;
}

.pricing {
    margin-left: 1.3rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    display: inline-block;
    font-size: 2rem;
    color: hsl(204, 43%, 93%);
}

.reg-price {
    display: inline-block;
    vertical-align: middle;
}

.footer {
    font-size: 11px;
    text-align: center;
}

.footer a {
    color: hsl(228, 45%, 44%);
}

.main-panel {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    margin: 0 auto;
    width: 640px;
    height: 460px;
    border-radius: 10px;
    overflow: clip;
}

.upper-panel {
    flex-basis: 45%;
    background-color: white;
}

.lower-panel {
    display: flex;
    /*width: 100%;*/
    flex-basis: 55%;
}

.right-panel {
    flex-basis: 50%;
    background-color: hsl(179, 62%, 46%);
}

.left-panel {
    flex-basis: 50%;
    background-color: hsl(179, 62%, 40%);
}

@media (max-width: 660px) {
    button {
        margin-left: 8%;
        margin-right: 8%;
        margin-top: 2.5%;
        margin-bottom: 5%;
        width: 80%;
        min-height: 50px;
        height: 40%;
    }
    .main-panel {
        width: 90vw;
        height: max-content;
    }
    .upper-panel {
        flex-basis: 30%;
    }
    .lower-panel {
        flex-direction: column;
        flex-basis: 70%;
    }
    .left-panel {
        flex-basis: 50%;
    }
    .right-panel {
        flex-basis: 50%;
    }
}

@media (max-width: 375px) {
    button {
        margin-left: 8%;
        margin-right: 8%;
        margin-top: 2.5%;
        margin-bottom: 5%;
        width: 80%;
        min-height: 40px;
        height: 40%;
    }

    h1 {
        color: hsl(179, 62%, 43%);
        font-size: 1.6rem;
        margin-left: 1.6rem;
        margin-top: 1.6rem;
        margin-bottom: 0.75rem;
    }

    h2 {
        color: hsl(71, 73%, 54%);
        font-size: 1.2rem;
        margin-left: 1.6rem;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }

    h3 {
        color: hsl(204, 43%, 93%);
        font-size: 1.2rem;
        margin-left: 1.6rem;
        margin-top: 1.25rem;
        margin-bottom: 0.75rem;
    }
    br{
        display: none;
    }
    .main-panel {
        height: max-content;
    }
    .upper-panel {
        padding-bottom: 3%;
    }
    .lower-panel {
        flex-direction: column;
    }
    .left-panel {
        padding-bottom: 3%;
    }
    .right-panel {
        padding-bottom: 3%;
    }
}
